name: Build Production APK

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    # 1. Generate Gradle Wrapper (Fixes version mismatch)
    - name: Generate Gradle Wrapper
      run: gradle wrapper --gradle-version 8.2

    - name: Make Gradlew Executable
      run: chmod +x gradlew

    # 2. Decode the Keystore
    - name: Decode Keystore
      env:
        ENCODED_STRING: ${{ secrets.ANDROID_KEYSTORE_BASE64 }}
      run: |
        echo $ENCODED_STRING | base64 -d > app/release-key.jks

    # 3. Build Signed Release APK
    - name: Build Release APK
      env:
        KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
        KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
        KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
      run: ./gradlew assembleRelease

    # 4. Upload the APK to GitHub Actions Artifacts
    - name: Upload Release APK
      uses: actions/upload-artifact@v4
      with:
        name: movies-app-release
        path: app/build/outputs/apk/release/app-release.apk